@model IEnumerable<Products>
@{
    ViewData["Title"] = "Hakkımızda";
}
<div style="margin-top:30px">
    <strong>
        Merhaba,<hr />

        Ben Metehan Celep, bilgisayar mühendisliği öğrencisi ve dijital dünyaya meraklı bir girişimciyim. Üçüncü sınıf öğrenimimi sürdürürken, teknoloji ve ticaretin kesişim noktasında yeni bir soluk getirmek adına bu e-ticaret sitesini hayata geçirdim.

        Vizyonum, kullanıcıların ihtiyaçlarına uygun ürünleri en kolay ve güvenilir şekilde sunarak dijital alışverişi daha keyifli hale getirmektir. Kaliteli ürünleri geniş bir yelpazede sunarken, müşteri memnuniyetini her zaman odak noktamız olarak tutuyoruz.

        Ekip olarak, kullanıcı deneyimine ve ürün kalitesine verdiğimiz önemle her geçen gün büyüyor ve gelişiyoruz. Siz değerli müşterilerimize en iyi alışveriş deneyimini sunmak için sürekli çalışıyor ve kendimizi yeniliyoruz.

        Sizlerle birlikte, bu dijital yolculuğumuzda daha nice başarılı alışverişlere imza atmayı dört gözle bekliyoruz.<hr />

        İlginiz ve destek için teşekkür ederiz.<hr />

        Saygılarımla,<hr />
        Metehan Celep
    </strong>

</div>


