@model SignUpForm
@{
    ViewData["Title"] = "SignUp";
    
}
<form method="post" asp-controller="Products" asp-action="SignUpStore" >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style="margin-top:300px">Ad Soyad</label>
        <input type="text" class="form-control" asp-for="NameSurname" style="color:black">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">E-Mail</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="name@example.com" style="color:black">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Şifre</label>
        <input type="password" class="form-control" asp-for="Password" style="color:black">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Şifre Tekrar</label>
        <input type="password" class="form-control" asp-for="PasswordAgain" style="color:black">
    </div>

    <input type="submit" class="btn btn-outline-success" value="Üye Ol"/>
    
</form>
